parameters:
	level: 4
	scanDirectories:
		- store/wp-includes
		- store/wp-admin
		- store/wp-content/plugins/woocommerce
		- store/wp-content/plugins/woocommerce-subscriptions
	paths:
		- src
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
	excludePaths:
		- src/src
includes:
		- vendor/szepeviktor/phpstan-wordpress/extension.neon
