parameters:
	level: 1
	scanDirectories:
		- wp/wp-includes
		- wp/wp-admin
		- wp/wp-content/plugins/woocommerce
	paths:
		- src
	bootstrapFiles:
		- src/config.php
		- wordpress-constants.php
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
