@import url('white_bean.css');

#beans-section .beans-cta-button {
    color: #000;
    border: 2px solid #000000;
}

#beans-section .beans-rule-item {
    background-color: rgb(51, 51, 51);
}

#beans-section .beans-rule-icon-circle {
    float: right;
}

#beans-section .beans-rule-description {
    color: rgb(255, 255, 255);
}

#beans-section .beans-history-entry {
    border: 1px solid rgb(184, 184, 184);
    background-color: rgb(51, 51, 51);
}

#beans-section .beans-history-description {
    color: rgb(255, 255, 255);
}

#beans-section .beans-history-date {
    color: rgb(197, 197, 197);
}